
:root{
    --triangle-height:70px;
}

.flex-title{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
    color: #666666;
}

.title-poly{
    display: block;
    position: relative;
    clip-path: polygon(100% 0%,
                   100% 100%,
					0% 100%,
                    15% 0%);
    background-color: white;
    text-align: center;
    width: fit-content;
    padding-left: 20px;
    padding-right: 30px;
    height: 40px;
}


.title-poly h2{
    font-family: 'JetBrains Mono';
    margin: 0px;
    padding-left: 10%;
    padding-top: 3%;
}

.assignment-sec {
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    column-gap:  5px;
    row-gap: 5px;
    height: fit-content;
    
}

.subsec-title h3{
    font-family: 'Fragment Mono';
}

.assignment-subsec{
    width: 100%;
    position: relative;
    min-height: fit-content;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.062));
}

.triangle-img{
    float: left;
    position: absolute;
    width: 100%;
    height: var(--triangle-height);
    margin-bottom: 0px;
    object-fit: cover;
    z-index: 0;
    border-radius: 5px;
}

.empty-box{
    min-height: 150px;
    height: 100%;
    background-color: #f3f3f3ff;
    filter: blur(1px);
    transition-duration: 0.2s;
    border: 1px solid transparent;
}

.empty-box h3{
margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b7b7b7;
  text-align: center;
  width: fit-content;
}

.empty-box:hover{
    filter: blur(0px);
    background-color: rgb(227, 227, 227);
    border: 1px solid #f3f3f3ff;
}

.subsec-title{
    top:calc(var(--triangle-height) - 33px);
    float: left;
    position: absolute;
    font-size: smaller;
    height: fit-content;
    color: white;
    padding: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e83f50ff;
}

.subsec-title h3{
    margin: 0px;
}

.subsec-content{
    font-family: 'Roboto';
    font-weight: 100;
    padding-left: 1%;
    padding-right: 1%;
    position: inherit;
    display: inline-block;
    margin-top: calc(var(--triangle-height) - 5px);
    width: 98%;
    height: fit-content;
    border-radius: 5px;
    background-color: white;
}

.subsec-content p {
    color: #666666;
    margin: 0px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    font-weight: lighter;
}

@media only screen and (max-width: 800px) {
    .assignment-sec{
        display: inline-block;
    }
}