<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet"
              href="{{ url_for('static',filename='styles/index.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static',filename='styles/Contacts.css') }}">
        <meta charset="utf-8">
        <title>CSCB20 WEBSITE</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto'
              rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css2?family=JetBrains+Mono'
              rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono"
              rel="stylesheet">
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
            <div class="flex-title">
                <div class="title-poly">
                    <h2>CONTACT</h2>
                </div>
            </div>
            <div class="info-sec">
                <div class="info-subsec purva">
                    <img class="portrait" src="../res/graphic4.png">
                    <div class="info-cont">
                        <h2>Purva R. Gawde</h2>
                        <p>
                            <i>Instructor</i>
                        </p>
                        <p>
                            <a href="mailto:purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a>
                        </p>
                        <p>Other contact information</p>
                    </div>
                </div>
                <div class="info-subsec">
                    <img class="portrait" src="../res/graphic4.png">
                    <div class="info-cont">
                        <h2>TA 1</h2>
                        <p>
                            <i>Teaching Assistant</i>
                        </p>
                        <p>
                            <a href="">ta.1@mail.utoronto.ca</a>
                        </p>
                        <p>Other links</p>
                    </div>
                </div>
                <div class="info-subsec">
                    <img class="portrait" src="../res/graphic4.png">
                    <div class="info-cont">
                        <h2>TA 2</h2>
                        <p>
                            <i>Teaching Assistant</i>
                        </p>
                        <p>
                            <a href="">ta.2@mail.utoronto.ca</a>
                        </p>
                        <p>Other links</p>
                    </div>
                </div>
            </div>
            <div class="feeback-sec">
                <img src="/static/res/graphic3.png" class="triangle-img">
                <div class="anon-feedback-title">
                    <h3>Feedback</h3>
                </div>
                <div class="feedback-in">
                    <p>Please note that your response will be kept completely anonymous.</p>
                    <form class="feedback-form" method="POST" action = "{{ url_for('SubmitFeedback') }}">
                        <p>What do you like about the instructor teaching?</p>
                        <textarea name="q1"></textarea>
                        <p>What do you recommend the instructor to do to improve their teaching?</p>
                        <textarea name="q2"></textarea>
                        <p>What do you like about the labs?</p>
                        <textarea name="q3"></textarea>
                        <p>What do you recommend the lab instructors to do to improve their lab teaching?</p>
                        <textarea name="q4"></textarea>
                        <button type='submit'>Submit</button>
                    </form>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
