<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet"
              href="{{ url_for('static',filename='styles/index.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static',filename='styles/Labs.css') }}">
        <meta charset="utf-8">
        <title>CSCB20 WEBSITE</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto'
              rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono"
              rel="stylesheet">
        <link href='https://fonts.googleapis.com/css2?family=JetBrains+Mono'
              rel='stylesheet'>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
            <div class="flex-title">
                <div class="title-poly">
                    <h2>LABS</h2>
                </div>
            </div>
            <div class="flex-container">
                <div class="head-img">
                    <img src="/static/res/graphic3.png">
                </div>
                <div class="headings">
                    <div class="head1">Week</div>
                    <div class="head2">Exercise</div>
                    <div class="head3">Solutions</div>
                </div>
                <div class="body-info">
                    <div class="entry">
                        <div class="week">2</div>
                        <div class="lab">
                            <a href="../res/Sample_Test.pdf">Week 2 Tutorial</a>
                        </div>
                        <div class="sol">
                            <a href="../res/Sample_Test.pdf">Week 2 Solns</a>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="week">3</div>
                        <div class="lab">
                            <a href="../res/Sample_Test.pdf">Week 3 Tutorial</a>
                        </div>
                        <div class="sol">
                            <a href="../res/Sample_Test.pdf">Week 3 Solns</a>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="week">4</div>
                        <div class="lab">
                            <a href="../res/Sample_Test.pdf">Week 4 Tutorial</a>
                        </div>
                        <div class="sol">
                            <a href="../res/Sample_Test.pdf">Week 4 Solns</a>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="week">5</div>
                        <div class="lab">
                            <a href="../res/Sample_Test.pdf">Week 5 Tutorial</a>
                        </div>
                        <div class="sol">
                            <a href="../res/Sample_Test.pdf">Week 5 Solns</a>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="week">6</div>
                        <div class="lab">
                            <a href="../res/Sample_Test.pdf">Week 6 Tutorial</a>
                        </div>
                        <div class="sol">
                            <a href="../res/Sample_Test.pdf">Week 6 Solns</a>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="week">7</div>
                        <div class="lab">
                            <a href="../res/Sample_Test.pdf">Week 7 Tutorial</a>
                        </div>
                        <div class="sol">
                            <a href="../res/Sample_Test.pdf">Week 7 Solns</a>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="week">8</div>
                        <div class="lab">
                            <a href="../res/Sample_Test.pdf">Week 8 Tutorial</a>
                        </div>
                        <div class="sol">
                            <a href="../res/Sample_Test.pdf">Week 8 Solns</a>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="week">9</div>
                        <div class="lab">
                            <a href="../res/Sample_Test.pdf">Week 9 Tutorial</a>
                        </div>
                        <div class="sol">
                            <a href="../res/Sample_Test.pdf">Week 9 Solns</a>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="week">10</div>
                        <div class="lab">
                            <a href="../res/Sample_Test.pdf">Week 10 Tutorial</a>
                        </div>
                        <div class="sol">
                            <a href="../res/Sample_Test.pdf">Week 10 Solns</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
