<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet"
              href="{{ url_for('static',filename='styles/index.css') }}">
        <meta charset="utf-8">
        <title>CSCB20 WEBSITE</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto'
              rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono"
              rel="stylesheet">
        <link href='https://fonts.googleapis.com/css2?family=JetBrains+Mono'
              rel='stylesheet'>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
            <table>
                <tr>
                    <th>Course Work</th>
                    <th>Student</th>
                    <th>Reason</th>
                    <th>Action</th>
                </tr>
                {% for i in RemarkCont %}
                    <tr>
                        <th>{{ i.work }}</th>
                        <th>{{ i.user }}</th>
                        <th>{{ i.reason }}</th>
                        <th>
                            <form action="{{ url_for('SubmitReMarks') }}" method = "POST">
                                <p>Updated Grades</p>
                                <input type="number" min="0" max="100" name="grade"></input>
                                <input type = "hidden" name="GUser" value = "{{ i.user }}" />
                                <input type = "hidden" name="work" value = "{{ i.work }}" />
                                <button type="submit">Submit</button>
                            </form>
                            <form action="{{ url_for('ResolveReMarks') }}" method = "POST">
                                <input type = "hidden" name="GUser" value = "{{ i.user }}" />
                                <input type = "hidden" name="work" value = "{{ i.work }}" />
                                <button type="submit">Resolve</button>
                            </form>
                        </th>
                    </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </body>
</html>
