:root{
    --header-width:80vw;
    --header-left:10vw;
    --triangle-height:70px;
 }

.Home-Title{
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: 175px;
    width: 100%;
    background-color: red;
    width: calc(var(--header-width));
    border-radius: 5px;
    background-image: url("../res/bgw.webp");
}

.Title-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
}

.Title-text h1 {
    position: relative;
    font-family: "DM Mono", monospace;
    margin: 0px;
    padding: 0px;
}

.Title-text h3{
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family: 'Fragment Mono';
    font-size: small;
}

.subtitle-text p{
    font-size: small;
    position: relative;
    margin-top: 5px;
    padding-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: right;
    font-size: large;
}

.body{
    margin-top: 5px;
    border-radius: 5px;
    padding-top: 5px;
}

.info-sec {
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    grid-template-rows: min-content min-content 1fr;
    column-gap:  5px;
    row-gap: 5px;
    height: fit-content;
}

.subsec-title h3{
    font-family: 'Fragment Mono';
    font-weight: lighter;
}

.info-subsec{
    width: 100%;
    position: relative;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 3px rgb(205, 205, 205);
}

.triangle-img{
    float: left;
    position: absolute;
    width: 100%;
    height: var(--triangle-height);
    margin-bottom: 0px;
    object-fit: cover;
    z-index: 0;
    border-radius: 5px;
}


.subsec-title{
    top:calc(var(--triangle-height) - 33px);
    float: left;
    position: absolute;
    font-size: smaller;
    height: fit-content;
    color: white;
    padding: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e83f50ff;
}

.subsec-title h3{
    margin: 0px;
}

.subsec-content{
    font-family: 'Roboto';
    font-weight: 600;
    padding: 15px;
    position: inherit;
    display: inline-block;
    margin-top: calc(var(--triangle-height) - 5px);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    height: fit-content;
    border-radius: 5px;
    background-color: white;
}

.subsec-content p {
    color: #666666;
    margin: 0px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    font-weight: lighter;
}

.tech-list{
    list-style-type:none;
}

.tech-list li{
    margin-bottom: 10px;
    display: flex;
    justify-content:left;
}

.tech-list img{
    width: 10vw;
    height: 50px;
    margin-right: 5px;
    object-fit: cover;
}

.home-nav{
    height: fit-content;
    display: grid;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    width: 100%;
    column-gap: 5px;
    row-gap: 5px;
}

.home-nav-but{
    text-align: center;
    padding: 0px;
    display: block;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 3px rgb(205, 205, 205);
}

.home-nav-but img{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.home-nav-but a{
    margin-top: auto;
    display: block;
    margin: auto;
    width: fit-content;
    transition-duration: 0.2s;
    background-color: black;
     text-decoration: none;
     width: fit-content;
     height: 20px;
     padding: 3px;
     padding-left: 8px;
     padding-right: 8px;
     text-align: center;
     font-family: 'Roboto';
     font-size: 15px;
     font-style: italic;
     color: #FFFFFF;
     border: #FFFFFF solid 1px;
     cursor: pointer;
}

.home-nav-but a:hover{
    color:black;
    border: black solid 1px;
    background-color: white;
}

@media only screen and (max-width: 800px) {
    .info-sec{
        display: inline-block;
    }
}
