:root{
   --header-width:80vw;
   --header-left:10vw;
}

body {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding:0px;
    margin:0px;
    overflow-x: hidden;
    transition-duration: 0s;
 }
 
 .foot {
  margin-top: 10px;
    min-height:25px;
    flex:0;
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
    background-color: #cccccc;
    align-items: center;
    border-top: solid #191919 2px;
    z-index: 1000000;
 }
 
 .footer-item {
    text-decoration: none;
    color: #191919;
 }
 
 .body {
    width: calc(var(--header-width) - 10%);
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    flex: 1;
    background-color: #dddddd;
    height: fit-content;
 }
 
.header-nav {
   display: flex;
   justify-content:space-between;
   width: fit-content;
}

.head h2 {
   position: absolute;
   left:3px;
}


 .head {
    align-items: center;
    height:25px;
    display: flex;
    justify-content:space-between;
    position: fixed;
    width: calc(var(--header-width) - 10px);
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    border-bottom: 2px solid black;
    overflow: hidden;
    background-color: #000000;
    z-index: 800;
    left: var(--header-left);
    border-radius: 10px;
 }

 .head div{
   margin-top: 5px;
 }
 
 .head-item {
  transition-duration: 0.2s;
   position: relative;
    text-decoration: none;
    width: fit-content;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: italic;
    color: #FFFFFF;
    border: #FFFFFF solid 1px;
 }

 .ham-butt {
   position: absolute;
   top: -30px;
   border: none;
   background-color: transparent;
   height: 20px;
   cursor: pointer;
   z-index: 1000;
 }

.hamburger {
   display: block;
   position: relative;
   background-color: #FFB54A;
}

 .hamburger::after, .hamburger::before{
   content: '';
   position: absolute;
   left: 0;
   right: 0;
 }

 .hamburger::after {
   background-color: #5AB7BF;
   top: 6px;
 }

 .hamburger::before{
   bottom: 6px;
   background-color: #E83F50;
 }
 
 .hamburger, .hamburger::after, .hamburger::before {
   width: 23px;
   height: 2px;
   border: none;
 }

 .logo {
   height: 30px;
 }

 .title {
   height: 40px;
 }

 .ham-items {
   transition-duration: 0.2s;
   position: fixed;
   top: -100vh;
   height: fit-content;
   font-family: 'Roboto';
   width: calc(var(--header-width) - 10px);
   left: var(--header-left);
   border-radius: 10px;
   padding-left: 8px;
   font-style: italic;
   background-color: #000000;
   z-index: 500;
 }

 .ham-ham{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }

 .ham-item {
   display: block;
   text-align: right;
   min-height: 20px;
   height: fit-content;
   color: #FFFFFF;
   text-decoration: none;
   width: 100%;
   padding-right: 30px;
 }

 #awdawkjdhkaj:target {
   top: 45px;
 }

 .head-item:hover{
   color:black;
   background-color: white;
 }

 @media only screen and (max-width: 800px) {
   .ham-butt {
      top: 20px;
      right: 10px;
   }
   .head-item {
      color: transparent;
      position: absolute;
      top: -100vh;
      border-left: transparent solid 2px;
      border-right: transparent solid 2px;
   }
 }