:root{
   --header-width:80vw;
   --header-left:10vw;
}

body {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding:0px;
    margin:0px;
    overflow-x: hidden;
    transition-duration: 0s;
    background-image: url("../res/bgw.webp")
}

 p {
  color: #666666;
}

.foot p {
font-family: "Roboto";
}

.foot {
  margin-top: 25px;
  margin-bottom: 50px;
  min-height:150px;
  flex:0;
  display: flex;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10px;

  background-color: #f3f3f3ff;
  align-items: center;
  box-shadow: 0px 3px rgb(205, 205, 205);
  z-index: 1000000;
}

#footer-logo {
  font-family: "JetBrains Mono";
  color: #666666;
  padding: 0%;
  margin: 0px;
}

.footer-item {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: normal;
}

.footer-item a {
  color: #666666;
  text-decoration: none;
}

 .body {
    width: calc(var(--header-width) - 10%);
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    flex: 1;
    background-color: #eeeeee;
    height: fit-content;
    padding-bottom: 5px;
 }

.header-nav {
   display: flex;
   justify-content:space-between;
   width: fit-content;
}

.head h2 {
   position: absolute;
   left:3px;
}


 .head {
    align-items: center;
    height:50px;
    display: flex;
    justify-content:space-between;
    position: fixed;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    overflow: hidden;
    background-color: #000000;
    z-index: 800;
    left: 0px;
 }

 .head div{
   margin-top: 5px;
 }

 .head-item {
  transition-duration: 0.2s;
   position: relative;
    text-decoration: none;
    width: fit-content;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-family: 'Fragment Mono';
    font-size: smaller;
    color: #FFFFFF;
    border: #FFFFFF solid 1px;
 }

 .ham-butt {
   position: absolute;
   top: -30px;
   border: none;
   background-color: transparent;
   height: 20px;
   cursor: pointer;
   z-index: 1000;
 }

.hamburger {
   display: block;
   position: relative;
   background-color: #FFB54A;
}

 .hamburger::after, .hamburger::before{
   content: '';
   position: absolute;
   left: 0;
   right: 0;
 }

 .hamburger::after {
   background-color: #5AB7BF;
   top: 6px;
 }

 .hamburger::before{
   bottom: 6px;
   background-color: #E83F50;
 }

 .hamburger, .hamburger::after, .hamburger::before {
   width: 23px;
   height: 2px;
   border: none;
 }

 .logo {
   height: 30px;
 }

 .title {
   height: 40px;
 }

 .ham-items {
   transition-duration: 0.2s;
   position: fixed;
   top: -100vh;
   height: fit-content;
   font-family: 'Roboto';
   width: calc(var(--header-width) - 10px);
   left: var(--header-left);
   border-radius: 5px;
   padding-left: 8px;
   background-color: #000000;
   z-index: 500;
 }

 .ham-ham{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }

 .ham-item {
   display: block;
   text-align: right;
   min-height: 20px;
   height: fit-content;
   color: #FFFFFF;
   text-decoration: none;
   width: 100%;
   padding-right: 30px;
 }

 #awdawkjdhkaj:target {
   top: 70px;
 }

 .head-item:hover{
   color:black;
   background-color: white;
 }

 @media only screen and (max-width: 800px) {
   .foot{
    font-size: 15px;
   }
   .foot div{
    margin-left: 5px;
    margin-right: 5px;
   }
 }

 @media only screen and (max-width: 1100px) {
  .ham-butt {
     top: 20px;
     right: 10px;
  }
  .head-item {
     color: transparent;
     position: absolute;
     top: -100vh;
     border-left: transparent solid 2px;
     border-right: transparent solid 2px;
  }
 }
