:root{
    --header-width:80vw;
    --header-left:10vw;
    --triangle-height:150px;
 }

.Home-Title{
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: 175px;
    width: 100%;
    background-color: red;
    width: calc(var(--header-width));
    border-radius: 5px;
    background-image: url("../res/bgw.webp");
}

.title-poly{
    display: block;
    position: relative;
    clip-path: polygon(100% 0%,
                   100% 100%,
					0% 100%,
                    15% 0%);
    background-color: white;
    text-align: center;
    width: 150px;
    height: 40px;
}

.title-poly h2{
    font-family: 'JetBrains Mono';
    margin: 0px;
    padding-left: 10%;
    padding-top: 3%;
}

.flex-title{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
    color: #666666;
}

.Title-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
}

.Title-text h1{
    position: relative;
    font-family: "DM Mono", monospace;
    margin: 0px;
    padding: 0px;
}

.Title-text h3{
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family: 'Fragment Mono';
    font-size: small;
}

.subtitle-text p{
    font-size: small;
    position: relative;
    margin-top: 5px;
    padding-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: right;
    font-size: large;
}


.info-sec {
    display: grid;
    grid-template-columns: calc(50%-2.5px) calc(50%-2.5px);
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    grid-template-rows: min-content min-content 1fr;
    column-gap:  5px;
    row-gap: 5px;
    height: fit-content;
}

.subsec-title h3{
    font-family: 'Fragment Mono';
}

.info-subsec{
    
    width: 100%;
    position: relative;
    height: fit-content;
    border-radius: 5px;
    margin-bottom: 5px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.062));
}

.triangle-img{
    float: left;
    position: absolute;
    width: 100%;
    height: var(--triangle-height);
    margin-bottom: 0px;
    object-fit: cover;
    z-index: 0;
    border-radius: 5px;
}


.subsec-title{
    top:calc(var(--triangle-height) - 33px);
    float: left;
    position: absolute;
    font-size: smaller;
    height: fit-content;
    color: white;
    padding: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e83f50ff;
}

.subsec-title h3{
    margin: 0px;
}

.subsec-content{
    font-family: 'Roboto';
    font-weight: 100;
    padding-left: 1%;
    padding-right: 1%;
    position: inherit;
    display: inline-block;
    margin-top: calc(var(--triangle-height) - 5px);
    width: 98%;
    height: fit-content;
    border-radius: 5px;
    background-color: white;
}

.subsec-content p {
    color: #666666;
    margin: 0px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    font-weight: lighter;
}

.subsec-content a{
    text-decoration: none;
    color: #595959;
    font-weight: 500;
}

.subsec-content a:hover{
    color: #9b9b9b;
}

@media only screen and (max-width: 800px) {
    .info-sec{
        display: block;
    }
}