<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet"
              href="{{ url_for('static',filename='styles/index.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static',filename='styles/Grades.css') }}">
        <meta charset="utf-8">
        <title>CSCB20 WEBSITE</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto'
              rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono"
              rel="stylesheet">
        <link href='https://fonts.googleapis.com/css2?family=JetBrains+Mono'
              rel='stylesheet'>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <div class="flex-title">
            <div class="title-poly">
                <h2>GRADES</h2>
            </div>
        </div>

        <div class="head-img">
            <img src="/static/res/graphic2.png">
        </div>
        <div id="table-sec">
            <table id="tb-headers">
                <colgroup>
                    <col id="course-work" />
                    <col id="grade" />
                    <col id="notes" />
                </colgroup>
                <tr>
                    <th style="background-color:#e83f50ff">Course Work</th>
                    <th style="background-color:#f46b48ff">Grade</th>
                    <th style="background-color:#5ab7bfff">Extra Notes</th>
                </tr>
            </table>
            <table id="assessments">
                <colgroup>
                    <col id="course-work" />
                    <col id="grade" />
                    <col id="notes" />
                </colgroup>
                {% for i in grades.keys() %}
                <tr>
                    <th><div>{{ i }}</div></th>
                    <th><div>{{ grades[i].grade }}</div></th>
                    <th><div>{{ grades[i].notes }}</div></th>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="feeback-sec">
            <img src="/static/res/graphic3.png" class="triangle-img">
            <div class="anon-feedback-title">
                <h3>Remark request</h3>
            </div>
            <div class="feedback-in">
                {% with error_message = get_flashed_messages() %}
                {% if error_message %}
                    <!-- Loops through the error messages. -->
                    {% for error in error_message %}<p>{{ error }}</p>{% endfor %}
                {% endif %}
            {% endwith %}
                <p>Please pick the course work you want remarked and further details (e.g. specific part that has a problem)</p>
                <form class="feedback-form" action="{{ url_for('remarkReq') }}" method="POST">
                    <select name="worktype">
                        {% for i in courseworks %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <br />
                    <p>Reason:</p>
                    <textarea name="reason"></textarea>
                    <button type='submit' value="Submit">Submit</button>
                </form>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
