<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet"
              href="{{ url_for('static',filename='styles/index.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static',filename='styles/Home.css') }}">
        <meta charset="utf-8">
        <title>CSCB20 WEBSITE</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
              rel="stylesheet">
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
            <div class="Home-Title">
                <div class="Title-text">
                    <h1>
                        CSC<span style="color: #e83f50;">B20</span>
                    </h1>
                    <h3>Winter 2024</h3>
                    <div class="subtitle-text">
                        <p>
                            Introduction to Databases
                            <br>
                            and Web Applications
                        </p>
                    </div>
                </div>
            </div>
            <div class="info-sec">
                <div class="info-subsec" style="grid-column:1/3; grid-row:1;">
                    <img src="/static/res/graphic3.png" class="triangle-img">
                    <div class="subsec-title">
                        <h3>Course Information</h3>
                    </div>
                    <div class="subsec-content">
                        <p>
                            A practical introduction to databases and Web app development.
                            Databases: terminology and applications; creating, querying and
                            updating databases; the entity-relationship model for database design.
                            Web documents and applications: static and interactive documents; Web
                            servers and dynamic server-generated content; Web application development
                            and interface with databases.
                        </p>
                        <p>
                            Exclusion: This course may not be taken after - or concurrently with - any C- or D-level CSC
                            course
                        </p>
                        <a href="syllabus.pdf">Syllabus.pdf</a>
                    </div>
                </div>
                <div class="info-subsec" style="grid-row: 2/5;">
                    <img src="/static/res/graphic1.png" class="triangle-img">
                    <div class="subsec-title" style="background-color: #f46b48ff;">
                        <h3>Policies</h3>
                    </div>
                    <div class="subsec-content" style="padding-bottom: 50px;">
                        <h3>Expectations for participation and attendance</h3>
                        <p>
                            You need to attend all the lectures and tutorials. If student is not able to attend the tutorials,
                            then please provide valid reasons for your absence.
                        </p>
                        <h3>Instructions for assignment submissions</h3>
                        <ul>
                            <li>
                                <p>
                                    There are three assignments. You may be asked to work in pairs on some of these
                                    assignments. Please check the assignment handout for more details on whether working
                                    in pairs is permitted or not; other details such as the exact due date will also be
                                    mentioned on the assignment handout. DO NOT EMAIL YOUR ASSIGNMENT
                                    SUBMISSIONS TO US. We will use MARKUS for the submission of all assignments.
                                    A STRICT silent policy takes effect 12 hours before an ASSIGNMENT or EXAM is
                                    due. This means that the teaching staff will answer no questions about the assignment
                                </p>
                            </li>
                            <li>
                                <p>
                                    We will follow the due dates mentioned in the course syllabus. However, if the due dates
                                    on the assignment handout differ from this course syllabus handout, the assignment
                                    handout’s due dates will supersede.
                                </p>
                            </li>
                        </ul>
                        <h3>Extensions or penalties for late work</h3>
                        <ul>
                            <li>
                                <p>
                                    Submit your work on time. Your work will be penalized by 10% for each day of the
                                    late submission unless valid reason for the late submission is provided.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Late submissions with 10% penalty will be accepted until day 3 (72 hours) past the
                                    original submission deadline. Later submissions will not be graded unless valid reason
                                    for the late submission is provided.
                                </p>
                            </li>
                        </ul>
                        <h3>Remark Requests</h3>
                        <ul>
                            <li>
                                <p>
                                    If a piece of work has been mismarked or if you believe the rubric used to evaluate the
                                    work is not appropriate, you may request a remark. For a re-mark to succeed, you must
                                    clearly and concisely express what you believe was mis-marked or unfairly marked. To
                                    request a remark, set up an appointment with the instructor and the TA that has marked
                                    your assignment/exam.
                                </p>
                            </li>
                            <li>
                                <p>
                                    PLEASE DO NOT USE THE DISCUSSION BOARD REQUESTING FOR
                                    REMARKS.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Be prepared for the entire work to be re-evaluated and for the mark to be adjusted up or
                                    down after the re-evaluation. Remark requests MUST be made 48 hours after the mark
                                    is made available. No remark request will be accepted after 48 hours.
                                </p>
                            </li>
                        </ul>
                        <h3>Working with a Partner:</h3>
                        <ul>
                            <li>
                                <p>
                                    For some of the assignments, you have the option of working in group of two or three
                                    and we encourage you to do so. Each group may contain up to a maximum of 3 people
                                    including yourself from your own section. You may choose your own partners and it
                                    does not need be the same person for each assignment. Once you begin working on an
                                    assignment, you may not dissolve your partnership without my permission. All team
                                    members will receive the same mark.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Some assignments may require group of two while other assignments might require
                                    group of 3. Details will be mentioned in each Assignment handout.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Working with a partner has the potential to lighten your workload or to increase it,
                                    depending on how well you work together. Remember that you are responsible for
                                    learning the course material underlying all parts of the assignments. You will have the
                                    most success if you truly work together.
                                </p>
                            </li>
                        </ul>
                        <h3>Academic integrity / plagiarism</h3>
                        <p>
                            All the work you submit must be your own and your work must not be submitted by
                            someone else. Plagiarism is academic fraud and is taken seriously. The department uses
                            software that compares programs for evidence of similar code. Please read the Rules and
                            Regulations from the U of T Calendar (especially the Code of Behavior on Academic
                            Matters).
                            Please do not cheat. It is unpleasant for everyone involved, including us. Here are a couple
                            of general guidelines to help you avoid plagiarism:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    Never look at another student’s assignment solution, whether it is on paper or on
                                    the computer screen.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Never show another student your assignment solution. This applies to all drafts of
                                    a solution and to incomplete solutions.
                                </p>
                            </li>
                            <li>
                                <p>
                                    The easiest way to avoid plagiarism is to only discuss the assignment with the
                                    CSCB20 TA, and your instructor.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Getting any component of the solution (including a verbal step-
                                    by-step explanation of how to do it) from another student, social-networking apps
                                    e.g. WeChat, Discord or ‘Mentoring’ services, etc. is an academic offense.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Read the following handout for tips on how to stay out of trouble: <a href="https://www.utsc.utoronto.ca/aacc/sites/utsc.utoronto.ca.aacc/files/tipsheets/AIM%20-%20Tipsheet%20oct%202015.pdf">here</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info-subsec" style="grid-row:2;">
                    <img src="/static/res/graphic2.png" class="triangle-img">
                    <div class="subsec-title" style="background-color: #ffb54aff;">
                        <h3>Technologies</h3>
                    </div>
                    <div class="subsec-content" style="grid-row: 3;">
                        <h3>You will learn:</h3>
                        <ul class="tech-list">
                            <li>
                                <img src="/static/res/html-img.png">
                                <p>
                                    HTML is the standard markup language for creating Web pages. HTML stands for Hyper Text Markup Language. HTML describes the structure of Web pages using markup. HTML elements are the building blocks of HTML pages. HTML elements are represented by tags. (W3Schools)
                                </p>
                            </li>
                            <li>
                                <img src="/static/res/css-img.png">
                                <p>
                                    Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript. (Wikipedia)
                                </p>
                            </li>
                            <li>
                                <img src="/static/res/js-img.png">
                                <p>
                                    JavaScript, often abbreviated as JS, is a high-level, interpreted programming language that conforms to the ECMAScript specification. It is a programming language that is characterized as dynamic, weakly typed, prototype-based and multi-paradigm.(Wikipedia)
                                </p>
                            </li>
                            <li>
                                <img src="/static/res/sql-img.png">
                                <p>
                                    SQL is a domain-specific language used in programming and designed for managing data held in a relational database management system, or for stream processing in a relational data stream management system. (Wikipedia)
                                </p>
                            </li>
                            <li>
                                <img src="/static/res/python-img.png">
                                <p>
                                    Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions. (Wikipedia)
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="home-nav" style="grid-row: 3; grid-column:2">
                    <h3 style="grid-column:1/3; text-decoration: underline;">Course Resources:</h3>
                    <div class="home-nav-but">
                        <img src="/static/res/user-img.png">
                        <p>Meet the team and give feedback!</p>
                        <a href="Contact.html">Course Team</a>
                    </div>
                    <div class="home-nav-but">
                        <img src="/static/res/resource-img.png">
                        <p>Resources useful in the course</p>
                        <a href="Resources.html">Resources</a>
                    </div>
                    <div class="home-nav-but">
                        <img src="/static/res/assignment-img.png">
                        <p>Assignments for the course</p>
                        <a href="Assignment.html">Assignments</a>
                    </div>
                    <div class="home-nav-but">
                        <img src="/static/res/labs-img.png">
                        <p>Lab schedule and locations</p>
                        <a href="Labs.html">Labs</a>
                    </div>
                    <div class="home-nav-but">
                        <img src="/static/res/Calendar-img.png">
                        <p>Calendar summarising important dates</p>
                        <a href="Calendar.html">Calendar</a>
                    </div>
                    <div class="home-nav-but">
                        <img src="/static/res/test-img.png">
                        <p>Test times and important info</p>
                        <a href="Tests.html">Tests</a>
                    </div>
                    <div class="home-nav-but">
                        <img src="/static/res/Lecture-img.png">
                        <p>Lecture notes and overview</p>
                        <a href="Lectures.html">Lectures</a>
                    </div>
                </div>
                <div class="info-subsec news-subsec" style="grid-row:4;">
                    <img src="/static/res/graphic2.png" class="triangle-img">
                    <div class="subsec-title" style="background-color: #ffb54aff;">
                        <h3>News</h3>
                    </div>
                    <div class="subsec-content" style="grid-row: 3;">
                        <div class="news-entry">
                            <p>January 1 0000:</p>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione odit voluptate, quae nisi, doloribus a doloremque voluptatum eius quo pariatur eveniet earum, sapiente incidunt dolor! Earum placeat magni tempora quis!
                            </p>
                        </div>
                        <div class="news-entry">
                            <p>January 1 0000:</p>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione odit voluptate, quae nisi, doloribus a doloremque voluptatum eius quo pariatur eveniet earum, sapiente incidunt dolor! Earum placeat magni tempora quis!
                            </p>
                        </div>
                        <div class="news-entry">
                            <p>January 1 0000:</p>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione odit voluptate, quae nisi, doloribus a doloremque voluptatum eius quo pariatur eveniet earum, sapiente incidunt dolor! Earum placeat magni tempora quis!
                            </p>
                        </div>
                        <div class="news-entry">
                            <p>January 1 0000:</p>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione odit voluptate, quae nisi, doloribus a doloremque voluptatum eius quo pariatur eveniet earum, sapiente incidunt dolor! Earum placeat magni tempora quis!
                            </p>
                        </div>
                        <div class="news-entry">
                            <p>January 1 0000:</p>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione odit voluptate, quae nisi, doloribus a doloremque voluptatum eius quo pariatur eveniet earum, sapiente incidunt dolor! Earum placeat magni tempora quis!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
